


footer {
 margin-top: auto;
 color: #2F1D58;
 background-color: white;
 padding: 1.25rem 2.5rem 1rem 2.5rem;
 border-top: 1px solid #e7e7e7;
}


.footer_wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
}


.contact_wrapper {
 display: flex;
 flex-direction: row;
 align-items: center;
}

p.copyright {
 margin-right: 0.25rem;
}