.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 600px;*/
    width: 90%;
    margin: 0 auto;
    border: 0px solid black;

}

.box {
    width: 100%;
    height: 300px;
    /*background-color: #f0f0f0;*/
    margin-bottom: 5px;
}

.img-container {
    width: 23%;
    float: left;
}

.img-container img {
    width: 100%;
    height: auto;
    max-width: 95%;
    max-height: 95%;
    object-fit: cover;
}


.text-container {
    width: 75%;
    float: left;
    padding: 10px;
}

.text-container h2 {
    margin-top: 0;
}

.divider {
    width: 100%;
    height: 0.1px;
    background-color: black;
}
.icon-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-row img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

